/********************************************************
 STYLES.CSS

 DESIGNED FOR SMALL SCREENS FIRST 
 STYLES FOR LARGER SCREENS IN RESPONSIVE.CSS 
 *******************************************************/


/*********************************************************
 MY GENERAL RESETS
**********************************************************/
* {
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
	background: rgb(250,250,250);
}

html, body, header, section, footer, div,
h1, h2, h3, h4, h5, h6, p, span,
ol, ul, li, q, cite, code {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

a:active, a:focus, a:hover {
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

ol, ul {
	list-style: none;
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
	margin: 25px auto 35px;
}
/*** END GENERAL ****************************************/




/*********************************************************
 HEADER
**********************************************************/


/*** END HEADER ******************************************/




/*********************************************************
 NAV
**********************************************************/


/*** END NAV *********************************************/


/*********************************************************
 MAIN WRAP
**********************************************************/

/*** END MAIN WRAP ***************************************/


/*********************************************************
 FOOTER
**********************************************************/

/*** END FOOTER ******************************************/




/********************************************************
 STYLES.CSS

 DESIGNED FOR SMALL SCREENS FIRST 
 STYLES FOR LARGER SCREENS IN RESPONSIVE.CSS 
 *******************************************************/


/*********************************************************
 MY GENERAL RESETS
**********************************************************/
* {
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
	background: rgb(250,250,250);
}

html, body, header, section, footer, div,
h1, h2, h3, h4, h5, h6, p, span,
ol, ul, li, q, cite, code {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

a:active, a:focus, a:hover {
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

ol, ul {
	list-style: none;
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
	margin: 25px auto 35px;
}
/*** END GENERAL ****************************************/




/*********************************************************
 HEADER
**********************************************************/


/*** END HEADER ******************************************/




/*********************************************************
 NAV
**********************************************************/


/*** END NAV *********************************************/


/*********************************************************
 MAIN WRAP
**********************************************************/

/*** END MAIN WRAP ***************************************/


/*********************************************************
 FOOTER
**********************************************************/

/*** END FOOTER ******************************************/




